# Presenting the hypothesis and cleaning the data

In [1]:
import numpy as np
import pandas as pd
import re
import src.clean_utils as cu

In [2]:
attacks = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [3]:
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# Looking for the TOP 3 Countries with more cases

In [4]:
attacks["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [5]:
#We can easily see which countries are in te top 3 of cases.
attacks.Country.value_counts().iloc[:3]

USA             2229
AUSTRALIA       1338
SOUTH AFRICA     579
Name: Country, dtype: int64

In [6]:
# But What about if our TOP 3 countries are written in another way? we just make shure we take all!
attacks["TOP3"] = attacks["Country"].apply(cu.cleaning)
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,TOP3
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,USA
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,USA
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,USA
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,AUSTRALIA
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other

In [7]:
#It looks like they where all well written.
attacks.TOP3.value_counts()

other           21577
USA              2229
AUSTRALIA        1338
SOUTH AFRICA      579
Name: TOP3, dtype: int64

**From my point of view, analyzing how attacks affect depending on the country seems to be interesting, and after that see if shark species are more frecuent in one country vs other.**

## We look for our new and cleaner dataframe, focus on attacks by countries and years.

In [8]:
attacks["Year"].value_counts(dropna=False)

NaN       19423
2015.0      143
2017.0      136
2016.0      130
2011.0      128
          ...
1753.0        1
77.0          1
1785.0        1
1580.0        1
1543.0        1
Name: Year, Length: 250, dtype: int64

In [9]:
# Bur our dataframe keep datas from a big range of years and I would like to focuss our atention only in the las 40 years.
attacks["Year_cleaned"] = attacks[attacks["Year"]>1980]["Year"]
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,TOP3,Year_cleaned
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,USA,2018.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,USA,2018.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,USA,2018.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,AUSTRALIA,2018.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,other,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN

In [10]:
# We just keep the values of our dataframe that occurred in de las 40 year
attacks = attacks[attacks["Year_cleaned"].notnull()]
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,TOP3,Year_cleaned
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,USA,2018.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,USA,2018.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,USA,2018.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,AUSTRALIA,2018.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,other,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,1981.02.00,Feb-1981,1981.0,Unprovoked,BRAZIL,Rio de Janeiro,Cabo Frio,Spearfishing,NaN,NaN,...,1981.02.00-CaboFrio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.02.00,1981.02.00,3260.0,NaN,NaN,other,1981.0
3044,1981.01.30,30-Jan-1981,1981.0,Unprovoked,USA,Florida,20 miles from Mayport,Commercial spearfishing,Carey Ford,M,...,1981.01.30-CareyFord.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.30,1981.01.30,3259.0,NaN,NaN,USA,1981.0
3045,1981.01.01,01-Jan-1981,1981.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Widenham,Swimming,Moonsamy Dayalan,M,...,1981.01.01-Dayalan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.01,1981.01.01,3258.0,NaN,NaN,SOUTH AFRICA,1981.0
3046,1981.00.00.b,1981,1981.0,Unprovoked,AUSTRALIA,New South Wales,Byron Bay,Surf-skiing,Warren Rowe,M,...,1981.00.00.b-Rowe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.00.00.b,1981.00.00.b,3257.0,NaN,NaN,AUSTRALIA,1981.0
3047,1981.00.00.a,Summer of 1981,1981.0,Unprovoked,GREECE,Pagasitikos Gulf,NaN,"Free diving / spearfishing,",an Austrian tourist,M,...,1981.00.00.a-Austrian-diver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.00.00.a,1981.00.00.a,3256.0,NaN,NaN,other,1981.0

In [31]:
attacks["Year_cleaned"].value_counts(dropna=False)

2015.0    108
2007.0     86
2014.0     84
2012.0     81
2008.0     81
2005.0     77
2013.0     76
2017.0     76
2016.0     75
2009.0     73
2004.0     72
2011.0     68
2006.0     67
2002.0     64
2000.0     64
2003.0     64
2010.0     58
2001.0     55
1999.0     50
1995.0     47
1992.0     42
2018.0     40
1989.0     40
1998.0     38
1997.0     36
1996.0     35
1988.0     35
1981.0     33
1991.0     33
1994.0     33
1993.0     33
1983.0     32
1985.0     30
1984.0     28
1986.0     27
1987.0     26
1990.0     26
1982.0     24
Name: Year_cleaned, dtype: int64

## I would like to cross my information by continent whith the species of sharks.

In [12]:
#As we can see, this variable is dirty and not easy to see which species is in each case.
attacks["Species "].value_counts(dropna=False)

NaN                                                                         1029
White shark                                                                  104
Shark involvement not confirmed                                               68
Tiger shark                                                                   45
Shark involvement prior to death was not confirmed                            44
                                                                            ...
White shark, 4m to 5m                                                          1
1.2 m [4'] "grey-colored shark"                                                1
Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length       1
Allegedly a 4 m tiger shark                                                    1
Reported to involve a white shark                                              1
Name: Species , Length: 968, dtype: int64

In [13]:
# I take out NaN species in order to be able to add some funtions to it.
attacks = attacks[attacks["Species "].notnull()]
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,TOP3,Year_cleaned
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,USA,2018.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,AUSTRALIA,2018.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,other,2018.0
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN,other,2018.0
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN,USA,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,1981.02.16,16-Feb-1981,1981.0,Unprovoked,AUSTRALIA,Western Australia,"Leighton Beach, north of Freemantle",Exercising his dog in the shallows,Steven Fawcett,M,...,1981.02.16-Fawcett.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.02.16,1981.02.16,3263.0,NaN,NaN,AUSTRALIA,1981.0
3042,1981.02.02,02-Feb-1981,1981.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Surfing,Michael A. Reist,M,...,1981.02.02-Reist.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.02.02,1981.02.02,3261.0,NaN,NaN,USA,1981.0
3044,1981.01.30,30-Jan-1981,1981.0,Unprovoked,USA,Florida,20 miles from Mayport,Commercial spearfishing,Carey Ford,M,...,1981.01.30-CareyFord.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.30,1981.01.30,3259.0,NaN,NaN,USA,1981.0
3045,1981.01.01,01-Jan-1981,1981.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Widenham,Swimming,Moonsamy Dayalan,M,...,1981.01.01-Dayalan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.01,1981.01.01,3258.0,NaN,NaN,SOUTH AFRICA,1981.0
3046,1981.00.00.b,1981,1981.0,Unprovoked,AUSTRALIA,New South Wales,Byron Bay,Surf-skiing,Warren Rowe,M,...,1981.00.00.b-Rowe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.00.00.b,1981.00.00.b,3257.0,NaN,NaN,AUSTRALIA,1981.0

In [14]:
attacks["Species "].value_counts(dropna=False)

White shark                                                                 104
Shark involvement not confirmed                                              68
Tiger shark                                                                  45
Shark involvement prior to death was not confirmed                           44
Invalid                                                                      40
                                                                           ...
Caribbean reef shark, 1.2 m to 1.5 m [4' to 5']                               1
White shark, 4m to 5m                                                         1
1.2 m [4'] "grey-colored shark"                                               1
Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length      1
Though to involve a white shark                                               1
Name: Species , Length: 967, dtype: int64

In [15]:
#After droping those Nan species, I would create groups of species in order to have more usefull information
attacks["Shark_species"] = attacks["Species "].apply(cu.contains)
attacks

<ipython-input-15-27b29e0e1786>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks["Shark_species"] = attacks["Species "].apply(cu.contains)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,TOP3,Year_cleaned,Shark_species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,USA,2018.0,white
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,AUSTRALIA,2018.0,others
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,other,2018.0,tiger
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN,other,2018.0,tiger
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN,USA,2018.0,lemon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,1981.02.16,16-Feb-1981,1981.0,Unprovoked,AUSTRALIA,Western Australia,"Leighton Beach, north of Freemantle",Exercising his dog in the shallows,Steven Fawcett,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.02.16,1981.02.16,3263.0,NaN,NaN,AUSTRALIA,1981.0,hammerhead
3042,1981.02.02,02-Feb-1981,1981.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Surfing,Michael A. Reist,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.02.02,1981.02.02,3261.0,NaN,NaN,USA,1981.0,hammerhead
3044,1981.01.30,30-Jan-1981,1981.0,Unprovoked,USA,Florida,20 miles from Mayport,Commercial spearfishing,Carey Ford,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.30,1981.01.30,3259.0,NaN,NaN,USA,1981.0,tiger
3045,1981.01.01,01-Jan-1981,1981.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Widenham,Swimming,Moonsamy Dayalan,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.01.01,1981.01.01,3258.0,NaN,NaN,SOUTH AFRICA,1981.0,others
3046,1981.00.00.b,1981,1981.0,Unprovoked,AUSTRALIA,New South Wales,Byron Bay,Surf-skiing,Warren Rowe,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.00.00.b,1981.00.00.b,3257.0,NaN,NaN,AUSTRALIA,1981.0,tiger

In [30]:
attacks["Shark_species"].value_counts(dropna=False).iloc[:6]

others    781
white     424
tiger     199
bull      138
black      89
small      44
Name: Shark_species, dtype: int64

# I have arrived to muy final Dataframe, where information in foccus on Top 3 countries and species in the last 40 years.

In [16]:
# I will take off all this columns that do not give us relevant information
drop_cols = ["Case Number","Date","Country","Injury","Fatal (Y/N)","Species ","Type","Area","Year","Activity","Time","Location","Investigator or Source", "Name","Sex ", "Age","pdf", "href formula", "href", "Case Number.1", "Case Number.2","original order", "Unnamed: 22", "Unnamed: 23" ]
attacks_final = attacks.drop(drop_cols, axis =1)
attacks_final

              TOP3  Year_cleaned Shark_species
0              USA        2018.0         white
3        AUSTRALIA        2018.0        others
4            other        2018.0         tiger
6            other        2018.0         tiger
7              USA        2018.0         lemon
...            ...           ...           ...
3040     AUSTRALIA        1981.0    hammerhead
3042           USA        1981.0    hammerhead
3044           USA        1981.0         tiger
3045  SOUTH AFRICA        1981.0        others
3046     AUSTRALIA        1981.0         tiger

[2017 rows x 3 columns]

# Exportamos el dataframe limpio

In [27]:
attacks_final.to_csv("output/sharkattack_output.csv", index = False)